@use '../../assets/styles/mixins' as mixin;

.nav {
    ul {
        display: flex;
        @include mixin.xs {
            justify-content: right;
            margin: 30px 0px;
        }
        li {
            color: var(--color-primary);
            cursor: pointer;
        }

        a {
            padding: 15px;
            @include mixin.xs {
                font-size: 1rem;
            }
        }
    }
}

a[aria-current='page'] {
    position: relative;

    &::after {
        content: '';
        height: 4px;
        width: 0;
        background: var(--color-primary);
        position: absolute;
        border-radius: 10px;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-animation: anim 0.3s ease forwards;
        animation: anim 0.6s ease forwards;

        @include mixin.xs {
            height: 2px;
        }

        @-webkit-keyframes anim {
            to {
                width: 100%;
            }
        }
        @keyframes anim {
            to {
                width: 100%;
            }
        }
    }
}