@use '../../assets/styles/mixins' as mixin;


.carrousel {
    margin: auto;
    position: relative;
    border-radius: 25px;
    height: 415px;
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 80px;
    @include mixin.xs {
        width: 100%;
        margin-bottom: 30px;
        @include mixin.xs {
            height: 280px;
        }
    }
}

.carrouselpicture {
    border-radius: 25%;
    height: 415px;
    object-fit: cover;
    width: 85vw;
    max-width: 1240px;
    border-radius: 25px;
    margin-left: 10px;
    @include mixin.xs {
        height: 280px;
    }
}

.activeSlide {
    width: 100%;
}

.inactiveSlide {
    width: 100%;
}

.previewArrow {
    top: calc(50% - 52px);
    z-index: 1;
    width: 46px;
    height: 72px;
    position: absolute;
    cursor: pointer;
    margin-left: 40px;
    @include mixin.xs {
        margin-left: 30px;
        top: calc(50% - 20px);
        width: auto;
        height: 30px;
    }
}

.nextArrow {
    top: calc(50% - 52px);
    cursor: pointer;
    z-index: 1;
    width: 46px;
    height: 72px;
    position: absolute;
    right: 0;
    @include mixin.xs {
        margin-right: 30px;
        top: calc(50% - 20px);
        width: auto;
        height: 30px;
    }
}


.numberImg{
    position: absolute;
    bottom: 5%;
    left: 50%;
    text-align: center;
    color:#fff
}
